.root
  font-family 'Open Sans', sans-serif
  font-size 16px
  min-height 100%
  min-width 320px
  position relative
  line-height 24px
  color #435a65

.center
  position relative
  max-width 1230px
  padding 0 15px
  margin 0 auto

.btn
  vertical-align top
  text-align center
  border 1px solid #ff7777
  background #ff7777
  box-shadow 0 5px 20px 0 rgba( 255, 119, 119, 1)
  display inline-block
  text-transform uppercase

.site__content
  position relative
  z-index 3
