$breakpoint = 1000px

.header
  position fixed
  width 100%
  top 0
  left 0
  z-index 4

.header-top
  height 78px
  background $scale2
  +below($breakpoint)
    height 60px

.logo
  position absolute
  top 20px
  width 213px
  height 40px
  img
    display block
    height auto
  +below($breakpoint)
    top 11px
    left 16px

.menu-btn
  position absolute
  top 24px
  right 2px
  width 38px
  height 15px
  z-index 4
  display block
  padding 0
  background none
  border none
  display none
  span
    position absolute
    top 50%
    left 8px
    right 10px
    display block
    height 3px
    margin-top -2px
    transition background-color 0.3s
    font-size 0
    background $scale1
    &:before
    &:after
      position absolute
      left 0
      width 100%
      height 100%
      background $scale1
      content ''
      transition transform 0.3s, background .3s
    &:before
      transform translateY(-7px)
    &:after
      transform translateY(7px)
  &.opened
    span
      background transparent
      &:before
      &:after
        background #6c6c6c
      &:before
        transform translateY(0) rotate(45deg)
      &:after
        transform translateY(0) rotate(-45deg)
  +below($breakpoint)
    display block

.header-menu
  position relative
  z-index 1
  display block
  top auto
  right auto
  bottom auto
  left auto
  padding 0 2px 0 0
  text-align right
  background transparent
  overflow-y inherit
  font-weight 600
  +below($breakpoint)
    display none
    position fixed
    top 60px
    left 0
    right 0
    bottom 0
    background rgba(255, 255, 255, .98)
    text-align center
    overflow-y auto

.header-menu__wrap
  display inline-block
  padding 0
  width auto
  height auto
  +below($breakpoint)
    display table
    width 100%
    height 100%
    padding 0 0 11px 0

.header-menu__layout
  display block
  padding 0
  vertical-align middle
  +below($breakpoint)
    display table-cell
    vertical-align middle
    padding 20px 0

.header-menu__ul
  display inline-block
  vertical-align top
  margin 0 19px 0 0
  width auto
  text-align left
  position relative
  li
    display inline-block
    vertical-align top
    margin 0
    font-size 14px
    line-height 15px
    position relative
    letter-spacing 0.1px
    +below($breakpoint)
      position relative
      font-size 20px
      line-height 28px
      letter-spacing 0.1px
      margin 0 0 1px
      display block
  a
    display block
    position relative
    text-transform uppercase
    transition color 0.3s
    margin 0
    padding 35px 10px 28px
    &:after
      position absolute
      top 0
      right 10px
      left 10px
      height 4px
      background $scale1
      content ''
      opacity 0
      transition opacity 0.3s, transform 0.3s
      transform translateY(-10px)
    &:hover:after
      opacity 1
      transform translateY(0px)
    +below($breakpoint)
      margin 0 40px
      padding 8px 9px
  .btn
    position: relative;
    top: 19px;
    width: 130px;
    margin: auto;
    margin-right: -1px;
    padding: 15px 5px;
    font-size: 14px;
    height: 44px;
    letter-spacing: 0;
    line-height: 1;
    color: $scale2;
    display: inline-block;
  +below($breakpoint)
    position relative
    margin 0 5px 0 0
    width 100%
    text-align center
