$tablet = 768px

.local
  padding 67px 0
  background $scale7

.local__layout
  width 100%
  display table
  text-align center

.local-info
.local-map
  vertical-align middle
  display table-cell
  width 50%
  height 500px
  +below($tablet)
    width 100%
    display block

.local-info
  background $scale2
  +below($tablet)
    height auto
    padding 40px 0

.local-map
  background $scale4
  +below($tablet)
    height 400px
