.reg
  padding 67px 0
  background $scale7
  .section__title
    text-align center

.regl
  width 100%

.rmain
  display table

.rcol
  width 50%
  padding 0 20px 20px
  display table-cell
  vertical-align top

  .w
    width 100%
    float left
    margin 0 0 15px 0

    .l
      width 100%
      display block

    .i
      width 100%
      border 0
      padding 10px 15px

    input[type=number]::-webkit-inner-spin-button
    input[type=number]::-webkit-outer-spin-button
      -webkit-appearance none
      margin 0

    .cb
      width 20%
      float left
      label
        margin 0 0 0 5px
      +below(490px)
        width 100%
        margin 5px 0
      +between(768px, 890px)
        font-size 11px

    .btn
      color $scale2
      padding 10px 15px
      float right
      font-weight bold

  &.info
    p
      margin-bottom 10px

  +below(768px)
    display block
    width 100%

.regm
  display none
  &.display
    display block
  &.error
    color $scale1
  &.success
    color green
