$tablet = 768px

.lcl
  padding 67px 0
  background $scale7

.lcll
  width 100%
  display table
  text-align center

.lcli
.lclm
  vertical-align middle
  display table-cell
  width 50%
  height 500px
  +below($tablet)
    width 100%
    display block

.lcli
  background $scale2
  +below($tablet)
    height auto
    padding 40px 0

.lclm
  background $scale4
  vertical-align top
  +below($tablet)
    height 400px
