$desktop = 1000px
$tablet = 768px

.sch
  padding 67px 0
  .section__title
    text-align center

.schl
  width 100%

.schnav
  text-align center
  text-transform uppercase
  a
    width 190px
    margin 0 2px
    display inline-block
    font-weight 700
    padding 9px 0
    &.active
      background $scale7

.scht
  margin-top 70px

.schtlk
  padding 25px 50px
  border-top 1px solid $scale4
  cursor pointer
  &.open
    cursor default
    border 0
    box-shadow 0 0 40px 5px rgba(0, 0, 0, 0.1)
    .schtlkcls
    .schtlkdtl
      display block
  +below($tablet)
    padding 25px 0

.schtlktime
  width 14.9%
  display inline-block
  +below($tablet)
    width 100%
    text-align center

.schtlkttl
  display inline-block
  font-size 20px
  +below($tablet)
    width 100%
    text-align center

.schtlkcls
  float right
  display inline-block
  font-weight 700
  font-size 35px
  display none
  +below($tablet)
    width 100%
    text-align center

.schtlkdtl
  padding 8px 0 18px 15%
  direction rtl
  text-align left
  display none
  +below($tablet)
    padding 8px 10px

.schspkg
  display inline-block
  vertical-align top
  width 47.3%
  padding 0 0 0 10.6%
  direction ltr
  text-align center
  +below($tablet)
    padding 0
    width 100%

.schspkgi
  width 100px
  float left
  margin 0 10px 0 0
  display inline-block
  img
    width 100px
  h3
    text-align center
    font-size 15px
    line-height 17px
  +below($tablet)
    float none
    margin 30px 10px

.schinf
  display inline-block
  vertical-align top
  max-width 100%
  width 41%
  padding 4px 0 0
  direction ltr
  +below($tablet)
    width 100%
    text-align center

.schtgs
  margin-top 20px
  span
    margin-right 5px
    padding 3px 11px
    font-size 13px
    &:nth-child(1)
      background $scale1
      color $scale2
    &:nth-child(2)
      background $scale7
    &:nth-child(3)
      background $scale8
      color $scale2
    &:nth-child(4)
      background $scale4
