footer.footer-main
  .container
    //- small Copyright 2015 All Rights Reserved. Copyright
    .social-links.right
      a(href='https://twitter.com/techpartyfaccat')
        span.fa.fa-twitter
      a(href='https://www.facebook.com/techpartyfaccat')
        span.fa.fa-facebook
    .clearfix
