.banner
  .banner__images
    img(src="dist/img/banner-3.jpg", class="image desktop")
    img(src="dist/img/banner-3.jpg", class="image tablet")
    img(src="dist/img/banner-3.jpg", class="image mobile")
  .banner__layout
    .swipe__container
      .swipe-wrapper
        .swipe-slide
          .time-schedule
            .time-schedule__pic
              img(src="dist/img/techparty-logo.png")
            h2.site__title.site__title_big TechParty
            time(class="time-schedule__place") #{ banner.time }
            p.time-schedule__text #{ banner.time_text }
            a(href="#register", class="btn btn_1") #{ banner.register }
