.banner
  .banner__images
    img(src="dist/img/banner-3.jpg", class="image desktop")
    img(src="dist/img/banner-3.jpg", class="image tablet")
    img(src="dist/img/banner-3.jpg", class="image mobile")
  .banner__layout
    .swipe__container
      .swipe-wrapper
        .swipe-slide
          .time-schedule
            .time-schedule__pic
              img(src="dist/img/techparty-logo.png")
            h2.site__title.site__title_big TechParty
            time(class="time-schedule__place") #{ banner.time }
            p.time-schedule__text #{ banner.time_text }
            a(href="#register", class="btn btn_1") #{ banner.register }
            
            //- 24/04/2017
            iframe(class="toggle-day toggle-day-24" width="560" height="315" src="https://www.youtube.com/embed/A39kL9FnSPk" frameborder="0" allowfullscreen)
            img(class="toggle-day toggle-day-24" src="dist/img/qr-24.png")

            //- 25/04/2017
            iframe(class="toggle-day toggle-day-25" width="560" height="315" src="https://www.youtube.com/embed/S1xFVXk0-S0" frameborder="0" allowfullscreen)
            img(class="toggle-day toggle-day-25" src="dist/img/qr-25.png")

            //- 26/04/2017
            iframe(class="toggle-day toggle-day-26" width="560" height="315" src="https://www.youtube.com/embed/TC5qzo0Ao18" frameborder="0" allowfullscreen)
            img(class="toggle-day toggle-day-26" src="dist/img/qr-26.png")

            //- 27/04/2017
            iframe(class="toggle-day toggle-day-27" width="560" height="315" src="https://www.youtube.com/embed/6QIrwIiUwEw" frameborder="0" allowfullscreen)
            img(class="toggle-day toggle-day-27" src="dist/img/qr-27.png")

            //- 28/04/2017
            iframe(class="toggle-day toggle-day-28" width="560" height="315" src="https://www.youtube.com/embed/RFqHgUuY-0A" frameborder="0" allowfullscreen)
            img(class="toggle-day toggle-day-28" src="dist/img/qr-28.png")