.site__content
  include banner.jade
  include about.jade
  include speakers.jade
  include schedule.jade
  include local.jade
  include sponsors.jade

  if lang == 'pt-br'
    include register.jade
  include manifest.jade
