.site__content
  .banner
    .banner__images
      img(src="http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/05/header-1920x1000-2.jpg", class="image desktop")
      img(src="http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/05/1024x540-header.jpg", class="image tablet")
      img(src="http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/05/768x768-header.jpg", class="image mobile")
    .banner__layout
      .swipe__container
        .swipe-wrapper
          .swipe-slide
            .time-schedule
              .time-schedule__pic
                img(src="http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/05/logo-CP-square.png")
              h2.site__title.site__title_big TechParty
              time(class="time-schedule__place") De XX/XX/XXXX até YY/YY/YYYY
              p.time-schedule__text Garanta sua vaga, se inscreva!
              a(href="#", class="btn btn_1") Registre-se
