header(class="header")
  .header-top
    .center
      h1.logo
        a(href="/", title="TechParty Faccat")
          img(src="dist/img/techparty.jpg" alt="TechParty Faccat")
      .menu-btn#mobile-navigation-trigger
        span
      .header-menu#header-navigation
        .header-menu__wrap
          .header-menu__layout
            ul.header-menu__ul
              each val, index in navigation
                li
                  a(href="##{val.hash}") #{val.label}
              li
                a(class="btn", href="#register") #{registerButton}
