header(class="header")
  .header-top
    .center
      h1.logo
        a(href="/", title="TechParty Faccat")
          img(src="http://showthemes.com/conferencepro-demo/wp-content/themes/conference-pro/assets/img/logo.png" alt="TechParty Faccat")
      .menu-btn
        span
      .header-menu
        .header-menu__wrap
          .header-menu__layout
            ul.header-menu__ul
              each val, index in navigation
                li
                  a(href="#") #{val}
              li
                a(class="btn", href="#") #{registerButton}
