.local
  .center
    .local__layout
      .local-info
        h2.section__title Local
        div Avenida Oscar Martins Rangel, 4500
        div Bairro Fogão Gaúcho
        div Taquara, Rio Grande do Sul
      .local-map map
