.schedule
  .center
    .schedule__layout
      h2.section__title #{schedule.title}
      .schedule-nav
        a(href="#", class="active") 25 de janeiro, 2017
        a(href="#", class="") 26 de janeiro, 2017
        a(href="#", class="") 27 de janeiro, 2017
        a(href="#", class="") 28 de janeiro, 2017
      .schedule-talks
        .schedule-talks-group
          .schedule-talk
            time(class="schedule-talk__time", datetime="19:45") 19:45 - 20:30
            h2.schedule-talk__title This is the title for the talk
            a(href="#", class="schedule-talk__close") &times;
            .schedule-talk__details
              .schedule__speakers-group
                .schedule__speakers-group__item
                  img(src="http://placehold.it/100x100")
                  h3 Fernando Porazzi
                .schedule__speakers-group__item
                  img(src="http://placehold.it/100x100")
                  h3 Daniel Rohers
              .schedule__info
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .schedule-talk__tags
                  span Javascript
                  span API
                  span WebAudio
                  span Gulp
          .schedule-talk
            time(class="schedule-talk__time", datetime="19:45") 19:45 - 20:30
            h2.schedule-talk__title This is the title for the talk
            a(href="#", class="schedule-talk__close") &times;
            .schedule-talk__details
              .schedule__speakers-group
                .schedule__speakers-group__item
                  img(src="http://placehold.it/100x100")
                  h3 Fernando Porazzi
                .schedule__speakers-group__item
                  img(src="http://placehold.it/100x100")
                  h3 Daniel Rohers
              .schedule__info
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                .schedule-talk__tags
                  span Javascript
                  span API
                  span WebAudio
                  span Gulp
