.speakers
  .center
    h2.section__title Palestrantes
    .speakers__layout
      .speakers__item
        .speakers__item-content
          .speakers__photo(style="background:url(http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/06/7.png);background-size:cover;")
          .speakers__info
            h3.speakers__name Fernando Porazzi
            span.speakers__bio Software engineer at CWI
            .speakers__social
              span tt
              span in
              span fb
      .speakers__item
        .speakers__item-content
          .speakers__photo(style="background:url(http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/06/7.png);background-size:cover;")
          .speakers__info
            h3.speakers__name Daniel Rohers Moura
            span.speakers__bio Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            .speakers__social
              span tt
              span in
              span fb
      .speakers__item
        .speakers__item-content
          .speakers__info
            h3.speakers__name Marcelo Azambuja
            span.speakers__bio Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            .speakers__social
              span tt
              span in
              span fb
          .speakers__photo(style="background:url(http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/06/7.png);background-size:cover;")
      .speakers__item
        .speakers__item-content
          .speakers__info
            h3.speakers__name Fernando Porazzi
            span.speakers__bio Software engineer at CWI
            .speakers__social
              span tt
              span in
              span fb
          .speakers__photo(style="background:url(http://showthemes.com/conferencepro-demo/wp-content/uploads/2016/06/7.png);background-size:cover;")

.speakers-call-to-action
  .center
    h2.section__title #{speakers_call.title}
    span #{speakers_call.text} &nbsp;
      a(href="#", target="_blank") Link
