.sponsors
  .center
    .sponsors__layout
      h2.section__title Patrocinadores
      span Nossos parceiros contribuem para o sucesso da TechParty
      .sponsors-content
        .sponsors-group.adamantium
          h2.section__title Adamantium
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/gitlab.jpg")
            .sponsor-info
              h3.sponsor-name GitLab
              span.sponsor-bio GitLab é uma aplicação completamente grátis para programar, testar e fazer deploy, tanto para projetos públicos quanto para projetos privados. GitLab provê o gerenciamento de repositórios Git com controle de acesso, revisão de código, mapeamento de issues, feed de atividades e integração contínua.
              .sponsor-social
                span tt
                span in
                span fb
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/flybyte.jpg")
            .sponsor-info
              h3.sponsor-name FlyByte
              span.sponsor-bio Te conectar com o que você quiser, quando quiser: este é o objetivo da Flybyte. Bem mais do que permitir acesso à internet, a Equipe Fly busca, sempre a par das mais novas tecnologias disponíveis, aumentar o seu mundo de possibilidades de conexões. A Flybyte nasceu em 2008 com o objetivo de trazer internet de qualidade à cidade de Taquara. Desde então, ampliamos nossa área de cobertura e hoje atendemos 4 municípios do Vale do Paranhana. A excelência no atendimento, a estabilidade do sinal e o suporte personalizado 24 horas por dia, 7 dias por semana, são nossos diferenciais. Conhecemos as necessidades e procuramos atender os nossos clientes, os Flys, de maneira rápida e eficaz. Flybyte, conexões do seu jeito. Simples assim.
              .sponsor-social
                span tt
                span in
                span fb
        .sponsors-group.golden
          h2.section__title Golden
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cr.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/loophost.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cwi.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cwi.jpg")
            .sponsor-info
              h3.sponsor-name Name
        .sponsors-group.silver
          h2.section__title Silver
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cr.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/loophost.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cwi.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cwi.jpg")
            .sponsor-info
              h3.sponsor-name Name
          .sponsor-item
            .sponsor-photo
              img(src="http://techparty.faccat.br/assets/img/sponsors/cwi.jpg")
            .sponsor-info
              h3.sponsor-name Name
