*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1, h2, h3, h4,
nav, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  color: #393e46;
}

.full {
  width: 100%;
  float: left;
}

.content {
  width: 1170px;
  margin: 0 auto;
}

#header {
  height: 600px;
  background: url('../img/header.jpg') no-repeat center center fixed;
  background-size: cover;
}

.header-top {
  margin-top: 60px;
}

.nav {
  float: right;
  font-family: 'Roboto';
  font-weight: 500;
}

.nav li {
  float: left;
  position: relative;
  margin-left: 3px;
}

.nav a {
  background: rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 10px 9px;
  text-transform: uppercase;
  color: #fff;
}

.header-info {
  color: #fff;
  text-align: center;
  padding-top: 100px;
}

.header-info h1 {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 100px;
  text-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.header-info h2 {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 48px;
  text-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.section {
  padding: 70px 0;
}

.article {
  font-family: 'Roboto';
  font-weight: 300;
}

.article-title {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  padding-bottom: 50px;
}

.article p {
  font-size: 20px;
}

#speakers {
  background: #E7EBED;
}

.span_1-4 {
  width: 25%;
  float: left;
}

.speaker-photo {
  margin: 0 auto;
  width: 260px;
  height: 260px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.speaker {
  padding: 0 20px;
  margin-bottom: 80px;
}

.octagon {
  background-size: 260px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.speaker h3,
.speaker h4 {
  text-align: center;
}

.speaker-links a {
  float: left;
  font-size: 30px;
  margin-left: 8px;
  color: #393e46;
}

.speaker p {
  font-size: 18px;
}

#schedule {
  background: #EF7247;
}

.white {
  color: #fff;
}
